body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 20px;
}
.container-fluid {
    margin-top: 20px;
}
.user-list-container, .chat-container, .actions-container {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    padding: 15px;
    margin-bottom: 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}
.message {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    word-wrap: break-word; /* Автоматический перенос слов */
}
.user-message {
    background-color: #cce5ff;
}
.bot-message {
    background-color: #f0f0f0;
}
.reply-form {
    margin-top: 20px;
}
